Django==3.2.18
drf-base64==2.0
django-filter
django-debug-toolbar==3.2.4
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
python-dotenv
mixer==7.1.2
Pillow==9.5.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
requests==2.26.0
six==1.16.0
sorl-thumbnail==12.7.0
Faker==12.0.1

django-cors-headers==3.13.0
flake8==5.0.4
flake8-broken-line
flake8-return
flake8-isort
pep8-naming

gunicorn==20.0.4
asgiref==3.3.2
psycopg2-binary
pytz==2020.1
sqlparse==0.3.1
PyJWT==2.1.0